/* Close button */
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

/* Coverflow Effects */
.coverflow{
    align-self: center;
    display: flex !important;
    align-items: center !important;
    min-height: 100vh !important;
    background: #383838 !important;
}


.overlay-wrapper{
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh !important;
    background: #383838 !important;
    font-family: 'Poppins', sans-serif !important;
}

.card  {
    position: relative !important;
    background: #fff0ff !important;
    width: 400px !important;
    height: 500px !important;
    margin: 0 auto !important;
}
.card .content{
    width: 400px !important;
    padding: 30px !important;
    box-sizing: border-box !important;
}
.card .content a{
    display: inline-block !important;
    margin: 10px 0 0 !important;
    padding: 10px 20px !important;
    text-decoration: none !important;
    border: 2px solid #000 !important;
    color: #262626 !important;
    font-weight: 600 !important;
}


.card .sliderText{
    position: relative !important;
    width: 100% !important;
    height: 200px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: #000 !important;
}
.card .sliderText h3{
    color: #fff !important;
    font-size: 3rem !important;
}

.swiper-slide{
    width: 400px !important;
}

.swiper-slide:nth-child(1) .sliderText{
    background: #212121 !important;
}
.swiper-slide:nth-child(2) .sliderText{
    background: #552155 !important;
}
.swiper-slide:nth-child(3) .sliderText{
    background: #621569 !important;
}
.swiper-slide:nth-child(4) .sliderText{
    background: #148563 !important;
}
.swiper-slide:nth-child(5) .sliderText{
    background: #784239 !important;
}
.swiper-slide:nth-child(6) .sliderText{
    background: #456264 !important;
}
.swiper-slide:nth-child(7) .sliderText{
    background: #514896 !important;
}


.cover:nth-child(1) .sliderText{
    background: #212121 !important;
}
.cover:nth-child(2) .sliderText{
    background: #552155 !important;
}
.cover:nth-child(3) .sliderText{
    background: #615448 !important;
}

@media screen and (max-width:600px){
    /* Still Need to do all the mobile CSS 😭😭 */
}