@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


/* Overlay CSS */
#overlay1, #overlay2, #overlay3 {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

#text1, #text2, #text3{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

/* Collapsible CSS */
/* Source: https://medium.com/dailyjs/mimicking-bootstraps-collapse-with-vanilla-javascript-b3bb389040e7 */
  *, ::after, ::before {
    box-sizing: border-box;
}

.collapse{
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s cubic-bezier(0, 1, 0, 1);; 
}

.show{
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}

.block_content{
	margin-top: 20px;
	padding: 1.5em;
	height: 100%;

	/* width: 80%; */
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	/* transition: .3s ease box-shadow; */
  
}

/* Previously written CSS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;  
    overflow-x: hidden;
}
a {
	text-decoration: none;
}
a:link {
  color: skyblue;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}



.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
    object-fit: cover;
	
}

canvas{
    position:absolute;
    top:0;
    left:0;
}
 
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: skyblue;
}

.cta {
    display: inline-block;
	padding: 5px 5px;
	color: black;
	background-color: transparent;
	border: 2px solid skyblue;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
    margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: skyblue;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
    
}
.brand h1 span {
	color: skyblue;
}


.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Header section */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: black;
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: skyblue;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/*Title section */

#title{
    content:'';
    background-size: cover;
    background-position: top center;
    background-color: lightgray;
    position: relative;
    z-index: 1;
    
}


#title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white; 
    
    z-index:-1;
}
#title .hero{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    
}

#title h1{
    display:block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#title h1:nth-child(1){
    animation-delay: .87s;
}
#title h1:nth-child(2){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1.9s;
}

#title h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: skyblue;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#title h1:nth-child(1) span{
    animation-delay: .5s;
}
#title h1:nth-child(2) span{
    animation-delay: 1.5s;
}


/*End Title section */

/* services section*/

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .services-items {
	width: 400px;
}
#services .services-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#services .services-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#services .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#services .services-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#services .services-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/* end services section*/

/*about us section*/
#ourGoals .goals-item {
    margin-left: 20px;
    margin-bottom: 10px;
    
}
#ourGoals .goals-title {
    margin-right: 20px;
    margin-bottom: 10px;   
}
#ourGoals .goals-info {
    border-left:1px solid black;
    
}
/* end about us*/

/*old members section*/

#members .members {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#members .col-left {
	width: 250px;
	height: 360px;
}
#members .col-right {
	width: 100%;
}
#members .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#members .col-right p {
	margin-bottom: 20px;
}
#members .col-right .cta {
	
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#members .col-left .members-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#members .col-left .members-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid skyblue;
	z-index: -1;
}
/*end old members section*/

/*new members section*/

    /*individual cards*/
.membercarda{
    background-image: url(../img/Profile_images/sehan.png);
    background-size: cover;
    padding: 8rem 0 0;
    margin:10px;
    min-width: 325px;
    min-height: 450px;
    border-radius: 10px;
    overflow:hidden;
    transition:transform 500ms ease;

}
.membercardb{
    background-image: url(../img/Profile_images/srujan.png);
    background-size: cover;
    padding: 8rem 0 0;
    margin:10px;
    min-width: 325px;
    min-height: 450px;
    border-radius: 10px;
    overflow:hidden;
    transition:transform 500ms ease;

}
.membercardc{
    background-image: url(../img/Profile_images/swapnil.webp);
    background-size: cover;
    padding: 8rem 0 0;
    margin: 10px;
    min-width: 325px;
    min-height: 450px;
    border-radius: 10px;
    overflow:hidden;
    transition:transform 500ms ease;

}



    /*end individual cards*/

    /* generic card content*/
.membercardContent h2{
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
}
.membercardContent h3{
    font-size: 15px;
    color: white;
}
.membercardContent{

    --padding: 15px;
    padding: var(--padding);
    position: relative;
    top:170px;
    background: linear-gradient(
    hsl(0 0% 0% /0 ),
    hsl(0 0% 0% /0.3 )10%,
    hsl(0 0% 0% /0.9 )
    ); 
}

.membercardContent > *:not(.card-title) {
    opacity:0;
    transition: opacity 500ms linear;
}
.membercardContent .cta{
    border-radius: 10px;
    color: white;
}

.card-title{
    position: relative;
    width: max-content;  
}
.card-title::after{
    content:'';
    position: absolute;
    height: 6px;
    left:calc(var(--padding)*-1);
    bottom:5px;
    width: calc(100% + var(--padding));
    background-color: skyblue; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}


    /* end generic card content*/


/*end new members section*/

/*new testimonials section*/
#testimonial-cards{
	display: flex ;
	flex-direction: column ;
}


.testimonialscontainer{
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}


.indicator{
    display: flex;
    flex-direction: row;
    order: 1;
}
.testimonialbtn{
    height: 15px ;
    width: 15px ;
    margin:4px ;
    border-radius:15px ;
    background: black ;
    cursor: pointer ;   
    transition: 0.5s ;
}
.active{
	width:35px ;
}


.testimonial-cards{
	width: 800px ;
    overflow: hidden ;
    
}
.slide-row{
	display: flex ;
	width:fit-content ;  
	transition: 0.5s ;
}
.slide-col{
    /* Necessary for Viewport */
    width:80rem ;
	height: 40rem ;

    /* Flex Aligning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}
.testimonial-text{
    /* Carousel Text Design */
    background: #FFFFFF ;
    box-shadow: 0px 0px 18px 0 #0000002c ;
    border-radius: 10px ;
    padding:45px ;
    box-sizing:border-box ;

    /* Carousel Text Position */
    z-index: 2 ;
    height: 67.5%;
    width: 60%;
}
.testimonial-text p{
    font-size: 18px ;
	line-height: 24px ;
}
.testimonial-img{
    height: 100%;
    width: 32rem;
    margin-left: -9%;
}
.testimonial-img img{
    border-radius: 10px ;
}

/*end new testimonials section*/



/*end new testimonials section*/

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */


/*keyframes*/

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width:0;
        left:100%;
    }
}
@keyframes text_reveal{
    100%{
        color: black;
    }
}
@keyframes text_reveal_name{
    100%{
        color: deepskyblue;
        font-weight: 500px;
    }
}
/*end keyframes*/
@media (hover){
    .membercardContent{
    transition: transform 500ms ease;
    transform: translateY(70%);   
    }
    
    .membercarda:hover{
        transform: scale(1.05);
}


    .membercarda:hover .card-title::after{
        transform: scaleX(1);   
}


    .membercarda:hover .membercardContent{
        transform: translateY(0);
        transition-delay:500ms ;   
}


    .membercarda:hover .membercardContent > *:not(.card-title) {
        opacity:1;
        transition-delay: 600ms;
}
    .membercardb:hover{
        transform: scale(1.05);
}


    .membercardb:hover .card-title::after{
        transform: scaleX(1);   
}


    .membercardb:hover .membercardContent{
        transform: translateY(0);
        transition-delay:500ms ;   
}


    .membercardb:hover .membercardContent > *:not(.card-title) {
        opacity:1;
        transition-delay: 600ms;
}
    .membercardc:hover{
        transform: scale(1.05);
}


    .membercardc:hover .card-title::after{
        transform: scaleX(1);   
}


    .membercardc:hover .membercardContent{
        transform: translateY(0);
        transition-delay:500ms ;   
}


    .membercardc:hover .membercardContent > *:not(.card-title) {
        opacity:1;
        transition-delay: 600ms;
}
}

@media screen and (max-width: 600px) {
  
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

    
    html {
	font-size: 5px;
    }
    


}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

    /* services */
	#services .contact {
		flex-direction: column;
		padding: 100px 100px;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#services .services-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 10px;
	}
	#services .services-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#services .services-item .icon {
		height: 100px;
		width: 100px;
	}
	#services .services-item .icon img {
		object-fit: contain;
	}
	#services .services-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End services  */


	/* members */
	#members .members {
		flex-direction: row;
	}
	#members .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#members .members .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid skyblue;
	}
	#members .col-right {
		text-align: left;
		padding: 30px;
	}
	#members .col-right h1 {
		text-align: left;
	}
	/* End members */


    
    
    
    /* testimonials  */
	#testimonials .contact {
		flex-direction: column;
		padding: 100px 100px;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#testimonials .testimonials-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#testimonials .testimonials-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#testimonials .testimonials-item .icon {
		height: 100px;
		width: 100px;
	}
	#testimonials .testimonials-item .icon img {
		object-fit: contain;
	}
	#testimonials .testimonials-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End testimonials  */
}
/* End Media Query For Tablet */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {


    /* title */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End title */

    #members .col-left .members-img {
	height: 400px;
	width: 80px;
	position: relative;
	border: 10px solid white;
}

    	#services .services-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		
		margin-top: 20px;
	}
    
  
}
/* End  Media Query For Desktop */
