/* Header section */
#header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--prev-black);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    min-height: 8vh;
    width: clamp(210px, 80%, 1300px);
    margin: auto;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--prev-white);
}
#header .nav-list ul li {
    display: inline-block;
}
#header .nav-list ul li a {
    font-size: 1.8rem;
}
#header .nav-list ul a {
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: var(--prev-white);
    text-transform: uppercase;
    padding: 20px;
}
#header .nav-list ul li:hover a {
    color: var(--prev-skyblue);
}

@media screen and (max-width: 1280px) {
    #header .nav-bar {
        width: 90%;
        isolation: isolate;
    }
    #header .hamburger {
        --dia: 60px;
        height: var(--dia);
        width: var(--dia);
        border: 3px solid var(--prev-white);
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
        transform: scale(0.8);
        margin-right: 20px;
    }
    #header .hamburger:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid var(--prev-white);
        animation: hamburger_puls 1s ease infinite;
    }
    @keyframes hamburger_puls {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(1.4);
        }
    }
    #header .nav-list ul a {
        display: block;
    }
    #header .nav-list ul {
        list-style: none;
        background-color: rgb(31, 30, 30);
        width: 100vw;
        height: 100vh;
        left: 100%;

        /* to cover navbar */
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;
        overflow-x: hidden;
        transition: 0.5s ease left;
    }
    #header .nav-list ul.active {
        left: 0%;
    }
    #header .nav-list ul a::after {
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 13rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: 0.3s ease letter-spacing;
    }
    #header .nav-list ul li:hover a::after {
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    #header .hamburger .nav-bar__bar {
        height: 2px;
        width: 30px;
        position: relative;
        background-color: var(--prev-white);
        z-index: 100;
    }
    #header .hamburger .nav-bar__bar::after,
    #header .hamburger .nav-bar__bar::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: var(--prev-white);
        transition: 0.3s ease;
        transition-property: top, bottom;
    }
    #header .hamburger .nav-bar__bar::after {
        top: 8px;
    }
    #header .hamburger .nav-bar__bar::before {
        bottom: 8px;
    }
    #header .hamburger.active .nav-bar__bar::before {
        bottom: 0;
    }
    #header .hamburger.active .nav-bar__bar::after {
        top: 0;
    }
}
